root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_separate_import_directive_groups = true

[*.{csproj,props}]
indent_size = 4
